{{> nav/nav-block user=false register=true }}
{{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
<body>
    <div>
        <ul class="cb-slideshow unstyled">
          <li>
            <span>Image 01</span>
          </li>
          <li>
          <span>Image 02</span>
        </li>
        <li>
          <span>Image 03</span>
        </li>
        <li>
          <span>Image 04</span>
          </li>
          <li>
          <span>Image 05</span>
        </li>
        <li>
          <span>Image 06</span>
        </li>
      </ul>
    <div class="container">
        <div class="card text-center">
            <div class="form-row">

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputLast">User Name</label>
            <input type="text" class="form-control" id="inputLast" placeholder="Doe">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>

        <div>
          <h2 id="message"></h2>
        </div>

        <button type="submit" id="add-user" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
</body>
</html>