{{> nav/nav-block user=false register=true }}
{{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
<body>
    <div>
        <ul class="cb-slideshow unstyled">
          <li>
            <span>Image 01</span>
          </li>
          <li>
          <span>Image 02</span>
        </li>
        <li>
          <span>Image 03</span>
        </li>
        <li>
          <span>Image 04</span>
          </li>
          <li>
          <span>Image 05</span>
        </li>
        <li>
          <span>Image 06</span>
        </li>
      </ul>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <h2 class="card-title text-center mt-3 mb-0">Register</h2>
          <h5 class="text-center"> *example login* </h5>
          <h5 class="text-center">email: adam@gates.com password: password </h5>
          <div class="card-body py-md-4">
            <form _lpchecked="1">
            <div class="form-group">
             <input type="text" class="form-control" id="inputFirst" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="registerEmail" placeholder="Email">
            </div>           
            <div class="form-group">
              <input type="password" class="form-control" id="registerPassword" placeholder="Password">
            </div>
            <div class="d-flex justify-content-center">
              <button id="add-user" class="btn btn-primary">Create Account</button>
            </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
</body>
</html>