::placeholder {
    color: white;
}

body {
    font-family:'Concert One', cursive;
    overflow: hidden;
    background-color: white;
}

.navbar {
    background-color: #36747d;
    color: #FFF;
    z-index: 4;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #36747d;
    color: white;
    text-align: center;
    z-index: -100;
    height: 6%;
  }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.geopic{
 max-width: 100%;
  height: auto;

    
}
.geobox{
 width: 60vw;
 height: auto;
 float: left;
 object-fit: contain;
}

h1{
    margin-left: 1em;
}


time {
    font-size: 90%;
    color: #212121;
}

p {
    margin: 10px 0 0;
    color: #212121;
}

hr {
    border: 0;
    margin: 0 0 10px;
    text-align: center;
}

hr:after {
    content: '...';
    font-size: 38px;
    letter-spacing: 8px;
    font-weight: bold;
}

.messaging-form {
   
    position: fixed;
    bottom: 0;
  
}

.message-input {
    position: relative;
    width: 140%;
    padding: 2px;
    border-radius: 40px;
    margin-right: 20px;
    overflow: hidden;
    
}
.timer{
    color: white;
    position: fixed;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
}
.avatar {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: block;
}

.message-input .avatar {
    position: absolute;
    left: 8px;
    top: 82%;
    transform: translateY(-50%);
    background: #FFF;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.message-input-field {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px 12px 42px;
    border: 0;
    background:#36747d;
    color: #FFF;
    outline: none;
    height: 8%;
    position: fixed;
    bottom: 7%;
    box-shadow: 0px 5px 8px 0px #212121;
    border-radius: 3px;
}

.picclass {
   width: 100%;
   height: 100%;   
}


.join {
    background: rgb(255, 255, 255);
    border: 0;
    color: #252535;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 5px 8px 0px #212121;
    position: fixed;
    bottom: 12%;
    right: 30%;
}

.welcome-message {
    text-align: center;
    color: #212121;
    margin: 40px 0;
}

.welcome-message-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.welcome-message-text .avatar {
    margin-right: 10px;
}

.welcome-message-text .user-name {
    color: #252535;
    margin-right: 10px;
}

.feedback {
    position: absolute;
    top: -25px;
    left: 25px;
    color: #FFF;
    font-style: italic;
    font-size: 16px;
}
.chatbody{
    height: 100vh;
    width: 30vw;
    float: right;
    border-left: 10px solid #36747d;
}

.feed {
    height: 80vh;
    overflow: scroll;
}
.feedback i {
    color: #E6BB46;
}

.message-entry {
    max-width: 350px;
    display: flex;
}

.message-entry .avatar {
    margin-right: 20px;
}

.message-body {
    color: rgb(255, 255, 255);
}

.user-name {
    color: #E6BB46;
    font-weight: bold;
}

.message-entry-own {
    max-width: initial;
    flex-direction: row-reverse;
}

.message-entry-own .avatar {
    margin-right: 0;
    margin-left: 20px;
}

.message-entry-own .message-body {
    text-align: right;
}

.message-entry-own .user-name {
    color: #212121;
}

.navbar {
    background-color: #36747d;
    color: #FFF;
    z-index: 5;
}

.container {
    margin-top: 25vh
}

#welcomeCard {
   
    background-color: #36747d;
    color: #FFF
}

img {
    padding-top: 10px;
  }

  #street-view {
    height: 87.5vh;
    width: 70vw;
    /* Google inverts the colours if you don't have any billing set up.
    We can go around this by adding a counter invert filter on top of the street view */
    filter: invert(0);  
  }

  .gm-iv-address{
      display:none !important;
  }
.testme{
    background-color: aqua;
    height: 200px;
    width: 200px;
}