:root{
	--teal: #36747d;
	--light: white;
	--dark: #212529;
}
/*This hides all scrollbars on the page(I dont want them in chat)*/
::-webkit-scrollbar {
	display: none;
}
*:focus {
	outline: none;
	background-color: rgba(253, 253, 253, 0.74);
}
::placeholder {
	color: rgba(0, 0, 0, 0.527);
}
/*Styling for navbar*/
.navbar {
	background-color: var(--teal);
	color: var(--light);
	z-index: 5;
}
#welcomeCard {
	background-color: var(--teal);
	color: var(--light)
}
#profileName {
	background-color: var(--teal);
	color: var(--light)
}
/*the height of the footer needs to be "100 - (.geobody height vh)" so there is no gaps */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--teal);
	color: var(--teal);
	
	height: 10vh;
	z-index: 2;
}



body{
	font-family:'Concert One', cursive;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1{
	margin-left: 1em;
	font-size: .5em;
}
time {
	font-size: 78%;
	color: var(--dark);
}
p {
	overflow: hidden;
	margin: 10px 10px 0 0;
	color: var(--dark);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr {
	border: 0;
	margin: 0 0 10px;
	text-align: center;
}
hr:after {
	content: '...';
	font-size: 38px;
	letter-spacing: 8px;
	font-weight: bold;
}

.message-entry-own .avatar {
	left: 90%;
}
.welcome-message-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: .9em;
	color: var(--dark);
}

.welcome-message-text .user-name {
	color: var(--dark);
	margin-right: 10px;
}

/*This hides the googlemap card showing where you are located*/
.gm-iv-address{
	display:none !important;
	filter: invert(0);
}
/*this is the div of the googlemaps display(it needs this to fill the parent div)*/
.geopic{

	height: 90vh;
	width: 100%;
}
/*This is the parent div of the googlemaps display(adjust this to change size of the display img)*/
.geobody {
	
	height:100%;
	width: 100vw;
}
/*This is the main div for the entire chat body*/
.chatbody {
	position: absolute;
	top: 27%;
	right: 10%;
	background-color: #36747d;

	z-index: 10;
	min-width: 340px;
	max-width: 340px;
	padding: 20px;
	width: 20vw;
	border-radius: 5% 5% 5% 5%;
	outline: silver;
	color: var(--light);
	box-shadow: 10px 10px rgba(0,0,0,.15);
	box-shadow: rgba(0, 0, 0, 0.349) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.377) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.322) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/*this is the color of YOUR user name in chat*/
.message-entry-own .user-name {
	color: var(--dark);
}
/*this aligns YOUR chat messages to the right side of the chat box*/
.message-entry-own .message-body {
	position: relative;
	font-size: .75em;
	text-align: right;
	font-size: .75em;
	margin: 12px;
	padding: 12px;
background-color: #86b3b9;	
margin-left: 40%;
border-radius: .4em;
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.message-entry-own .message-body:after {
	content: '';
	position: absolute;
	right: 8px;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-left-color: #86b3b9;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -26px;
	z-index: 0;
}
.message-body{
	position: relative;
	font-size: .75em;
	text-align: right;
	font-size: .75em;
	margin: 12px;
	padding: 12px;
background-color: #b2c3c5;	
margin-right: 40%;
border-radius: .4em;
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}
.message-body::after{
	content: '';
	position: absolute;
	right: 161px;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-left-color: #b2c3c5;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -26px;
	z-index: 0;
	transform: rotate(134deg);
}
/*avatar stuff*/
.avatar {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	margin-top: 2%;
	float: left;
	border: #9bafc4 solid 2px;
	z-index: 100;
}
.message-entry-own .avatar {
	margin-right: 0px;
	margin-left: 10px;
	float: right;
	position: relative;
	left: -5px;
    top: -4px;
}
.message-entry .avatar {
	margin-right: 10px;
	margin-left: 17px;
	position: relative;
	left: -5px;
    top: -4px;
}

.welcome-message-text .avatar {
	margin-right: 10px;
}
.message-input .avatar {
	display: none;
}
.message-entry-own {
	max-width: initial;
	flex-direction: row-reverse;
}
/*This is user name of OTHER people in chat */
.user-name {
	color: var(--teal);
	font-weight: bold;
}
/*feed is the actual container div for the injected li chat messages */
.feed {
	background-color: white;
	border-radius: 5px;
	height:34vh;
	overflow: scroll;
	border: #295a63 solid 2.5px;
	margin-bottom: 5%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.feedback i {
	color: var(--dark);
}
.feedback {
	position: absolute;
	top: -25px;
	left: 25px;
	color: rgba(0, 0, 0, 0.5);
	font-style: italic;
	font-size: 16px;
	background-color: var(--light);
}
.welcome-message-text .user-name {
	color: var(--dark);
	margin-right: 10px;
}

.message-input-field {
	position: relative;
	padding: 12px 12px 12px 12px;
	color: rgba(8, 2, 2, 0.856);
	width: 100%;
	bottom: 0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	border: #36747d solid 2px;
}

/*This is the styling for the movebutton*/
#mydivheader {
	height: 3em;
	width: 100%;
	padding: 10px;
	border-radius: 13%;
	cursor: move;
	z-index: 112;
	margin: 0px;
	padding: 0px;
}
.Correct {
	margin-left:4.2em;
	font: bold 20px arial, sans-serif;
  background-color: #565656;
  color: rgba(0, 0, 0, 0.418);
  text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}
.Correct2 {
	margin-left:4.2em;
	font: bold 20px arial, sans-serif;
  background-color: gold;
 
  color: #fff;
  text-shadow:
      0 0 7px rgb(247, 242, 1),
      0 0 10px #fff,
      0 0 21px rgb(237, 248, 76),
      0 0 42px rgb(238, 255, 0),
      0 0 82px rgb(238, 255, 0),
      0 0 92px rgb(255, 251, 0),
      0 0 102px rgb(238, 255, 0),
      0 0 151px rgb(217, 255, 0);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}
.score {
	position: fixed;
	
	bottom: 0;
	width: 20%;
	background-color: var(--dark);
	color: goldenrod;
	text-align: center;
	min-height: 50px;
	max-height: 50px;
	display: grid;
	align-items: center;
	
	right: 45%;
	max-width: 300px;
	min-width: 250px;
	border-radius: 50px 50px 0 0 ;
	border: solid var(--light) 1px;
	border-bottom: none;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.scorename {
	color: var(--dark);
	margin-right: 10px;
}
#correctAnswer {
	right: -30px;
    top: -24px;
	position: relative;
	display: none;
}
.bi-arrows-move::before {
	content: "\f14e";
	color: rgb(71, 70, 70);
	font-size: x-large;
	background-color: #15181b;
	border-radius: 50%;
	border: #212529 solid 2.9px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
