.container {
    margin-top: 25vh
}

#welcomeCard {
    /* background-color: #bacdac; GREEN
    background-color: #BFACCD; 
    background-color: #CDAFAC; */
    /* background-color: #87ceeb; */
    background-color: #36747d;
    color: #FFF
}

#welcomeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%
}

.navbar {
    background-color: #36747d;
    color: #FFF;
}