body {
    font-family:'Concert One', cursive;
    background-image: url('./images/golden.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #36747d;
}

.navbar {
    background-color: #36747d;
    color: #FFF;
}

.container {
    margin-top: 25vh
}

#welcomeCard {
    /* background-color: #bacdac; GREEN
    background-color: #BFACCD; 
    background-color: #CDAFAC; */
    /* background-color: #87ceeb; */
    background-color: #36747d;
    color: #FFF
}

/* #welcomeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%
} */

#handWorld {
    background-image: url('./images/geoguesser_example.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 5px;

}

@media screen and (max-width: 991px) {
    #handWorld {
        display: none;
    }
    #cardText {
        justify-content: center;
        align-items: center;

    }
}