
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      button {
        width: 100px;
        height: 25px;
        color: white;
        background-color: red;
      }

      img {
        padding-top: 10px;
      }

      #street-view {
        height: 50%;
        /* Google inverts the colours if you don't have any billing set up.
        We can go around this by adding a counter invert filter on top of the street view */
        filter: invert(0);  
      }

      .gm-iv-address{
          display:none !important;
      }
